body {
    font-family: "Raleway", Arial, sans-serif;
}

header, section {
    margin: 0 3em;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul li {
    list-style: none;
    float: left;
}

.nav li {
    padding: 3em;
    display: block;
    text-align:center;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 400;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #000000;
}

.menu a:hover, .menu .active > a,.menu .subscription a {
    color: #0065FC;
    font-weight: 900;
}

.menu a:hover, .menu .active > a {
    border-top: 2px solid #0065FC;
    padding-top: 2rem;
  }

/*-------------------------------------------------------------
# Section global
--------------------------------------------------------------*/

.section_title {
    font-weight: 900;
    font-size: 1em;
}

/*-------------------------------------------------------------
# Section 1
--------------------------------------------------------------*/

.section_subtitle {
    font-weight: 400;
    font-size: 0.8em;
}

/*--------------------------------------------------------------
# Search form
--------------------------------------------------------------*/
.search_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

 .search_icon {
    background-color: #F2F2F2;
    width: 30px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    text-align: center;
}

.search_input {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    height: 30px;
    border: 1px solid #F2F2F2;
    padding-left: 1em;
}

input:focus {
    outline: none;
}

.search_btn {
    color: #ffffff;
    font-size: 0.9em;
    background-color: #0065FC;
    border: none;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


/*--------------------------------------------------------------
# Filters
--------------------------------------------------------------*/
.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter_title {
    font-size: 0.9em;
    font-weight: 900;
}

.filter_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.filter_block {
    display: inline-block;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    margin: 1rem;
}

.filter_icon {
    display: inline-block;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    position: absolute;
    font-size: 20px;
    color: #0065FC;
    text-align: center;
}

.filter_name {
    font-size: 0.9em;
    font-weight: 900;
    height: 40px;
    padding: 1rem;
    margin-left: 40px;
}
/*--------------------------------------------------------------
# Info
--------------------------------------------------------------*/
.information_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}
    

.info_icon {
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: 900;
    color: #0065FC;
    text-align: center;
}


.info_text {
    font-size: 0.8em;
    margin-left: 1rem;
}
/*-------------------------------------------------------------
# Section 2 & 3: Hébergements
--------------------------------------------------------------*/
.section2-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
/*-------------------------------------------------------------
# Section 2
--------------------------------------------------------------*/
.section2 {
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 1.5rem;
    padding: 20px;
}

.container_element, .section2 .section_title, .section_link {
    margin-left: 10px;
    margin-right: 10px;
}

.container_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.element-prev--heb {
    width: 30%;
    height: 140x;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.element-prev--heb .element-prev_img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.element-prev_text {
    color: #000000;
    padding-left: 12px;
}

.element-prev_text h3, .element-prev_text p {
    font-size: 0.7em;
    margin: 6px 0;
}
.element-prev_title {
    font-weight: 900;
}

.element-prev_descr {
    font-weight: 400;
}

.element-prev_text i {
    font-size: 0.6em;
    margin: 1px 1px;
}

.element-icon--full {
    color: #0065FC;
}

.element-icon--light {
    color: #F2F2F2;
}

.section_link {
    color: #000000;
    font-size: 0.9rem;
    font-weight: 900;
}

/*-------------------------------------------------------------
# Section 3
--------------------------------------------------------------*/
.section3 {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 1.5rem;
    padding: 20px;
}

.element-prev--pop {
    width: 100%;
    height: 140x;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.element-prev--pop .element-prev_img {
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    background-color: #F2F2F2;
}

.menu_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem;

}

.footer-col {
    font-size: 0.8em;
    color: #000000;
    width: 33%;
}

.footer-col_title {
    font-weight: 900;
}
.footer-col_link {
    font-weight: 400;
    line-height: 2;
}